body{
    background-color: aquamarine;
}
.titulo{
    
    border-style: dashed;
    width: 400px;
    text-align: center;
    
    
    
    
}
.contene{
    display: flex;
    justify-content: space-between;
}
.hola{
    border-style: dashed;
    width: 400px;
    text-align: center;
}
.guion{
    border-style: dashed;
    width: 40px;
    text-align: center;
    border-right: 1px;
    border-left: 1px;
}

.caja{
    
    text-align: center;
    display: flex;
    justify-content: space-between;
    
}

.uno{
    
    
    border-color: aliceblue;
    width: 400px;
    
}

.dos{
    border-style: dotted;
    
    border-color: black;
    width: 600px;
}
