body{
    background-color: aquamarine;
}
.titulo{
    
    border-style: dashed;
    width: 400px;
    text-align: center;
    
    
    
    
}
.contene{
    display: flex;
    justify-content: space-between;
}
.hola{
    border-style: dashed;
    width: 400px;
    text-align: center;
}
.guion{
    border-style: dashed;
    width: 40px;
    text-align: center;
    border-right: 1px;
    border-left: 1px;
}

.caja{
    
    text-align: center;
    display: flex;
    justify-content: space-around;
    
}

.uno{
    
    margin-top: 100px;
    
    border-color: aliceblue;
    width: 600px;
    display: inline-block;
    justify-content: safe;
    
}

.dos{
    content: "HOLA";
    border-style: dotted;
   
    border-color: black;
    width: 400px;
    height: 600px;
    
    margin-top: 100px;
    
    background-color: blue;
    
}

.unouno{
    width: 350px;
    height: 300px;
    background-color: aliceblue;
}

.dosdos{
    width: 350px;
    height: 300px;
    background-color: bisque;
}

